/* general css */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');
header{background-image: url(../img/headerBG.png);background-repeat: round;background-size: cover;width: 100%;height: 90px;background-position: center}
body{background-color: #F2F9FF;font-family: 'Open Sans', sans-serif;font-weight: 400;color:#054C92;}
header h1{width: 60px;height: auto;padding: 15px 0px;display: inline-block;vertical-align: middle;}
a{display: block;}
.container{max-width: 1030px;}
input, select{background: #FFFFFF;opacity: 0.5;border: 0.5px solid #484848;box-sizing: border-box;border-radius: 2px;padding: 8px 15px;width: 210px;max-width: 100%;font-weight: 400;font-size: 14px;line-height: 20px;color: #000000;}
ul li{list-style-type: none;}
.pos-rel{position: relative;}
td, th{text-align: center;}
table{position: relative;}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,input::-webkit-inner-spin-button {-webkit-appearance: none;margin: 0;}

/* Firefox */
input[type=number] {-moz-appearance: textfield;}

/* class based */
.outer{background-color: white;padding: 35px 30px 65px 30px;margin-top: 25px;border-radius: 4px;    }
.head{display: inline-block;margin: 0;font-weight: 700;font-size: 26px;line-height: 32px;padding-left: 25px;}
.maha{border: 1px solid rgba(0, 0, 0, 0.2);box-sizing: border-box;border-radius: 4px;}
.login h3{font-weight: 600;font-size: 20px;text-align: left;margin-bottom: 20px;}
.login-button{font-size: 14px;font-weight: 700;text-align: center;border-radius: 4px;background-color: #054C92;color: #fff;
border: 1px solid #054C92;padding: 5px 35px;}
.agency-selection .lists{background: rgba(250, 206, 34, 0.08);border: 1px solid rgba(226, 172, 32, 0.8);box-sizing: border-box;
border-radius: 8px;margin: 16px 0;list-style-type: none;}
.agency-selection .lists a{padding: 15px 30px;}
.agency-selection .lists a p::before,.des::before{content: '';position: absolute;left: 0;background-image: url(../img/info_yellow.svg);transform: translateY(20%);height: 100%;width: 100%;background-repeat: no-repeat;}
.agency-selection .lists a p{padding-left: 20px;font-size: 12px;line-height: 16px;color: #484848;margin-bottom: 40px;margin-top: 15px;}
.a-link{font-weight: 400;font-size: 13px;text-decoration: underline;text-align: center;text-align: right;margin: 0 0 15px 0;display: inline;float: right;}
.selection{margin-bottom: 30px;font-weight: 600;font-size: 20px;line-height: 26px;color: #484848;}
.lists h5{font-weight: 600;font-size: 18px;line-height: 25px;color: #484848;}
.modal-header h5{font-weight: 600;font-size: 16px;line-height: 22px;color: #484848;}
.modal-body{margin: auto 30px;background: rgba(250, 206, 34, 0.08);border: 1px solid rgba(226, 172, 32, 0.8);box-sizing: border-box;border-radius: 8px;}
.modal-header{padding: 20px 30px 15px 30px;}
.modal-dialog{max-width: 530px;}
.modal-header, .modal-footer{border: none;}
.modal-footer{display: block;text-align: center;padding: 20px 0;}
.modal-footer button{font-weight: 700;font-size: 14px;line-height: 19px;background: #054C92;border: 1px solid rgba(5, 76, 146, 0.3);border-radius: 4px;padding: 8px 50px;}
.modal-body h4{font-weight: 600;font-size: 18px;line-height: 25px;color: #000000;opacity: 0.8;}
.des{font-size: 12px;line-height: 16px;color: #484848;padding-left: 20px;margin-bottom: 50px;margin-top: 15px;}
form::before{content: "";display: block;position: absolute;top: 0;left: 0;width: 100%;height: 100%;border-radius: 0.25rem;background-color: white;z-index: -1;}
.login-form{margin: auto;text-align: center;max-width: 210px;width: 100%;}
.new{text-align: center;float: none;margin-top: 25px;display: inline-block;}
.name-log{float: right;padding-top: 50px;}
.name-log *{display: inline-block;vertical-align: bottom;margin: 0;}
.user-name{font-size: 12px;line-height: 16px;color: #000000;opacity: 0.8;}
input[type="checkbox"]{width: 20px;}
.choose{margin-bottom: 20px;}
.name-log a{font-weight: 600;color: #054C92;font-size: 14px;line-height: 19px;}
.info small{font-size: 10px;line-height: 14px;color: #484848;opacity: 0.5;}
.info p{font-size: 18px;line-height: 27px;color: #000000;opacity: 0.8;margin-bottom: 15px;}
.info .sub-info{font-size: 12px;line-height: 18px;color: #484848;padding-left: 20px;}
.info .count{font-weight: 600;font-size: 16px;line-height: 22px;color: #000000;opacity: 0.8;}
.info .count small{font-size: 10px;line-height: 14px;color: #484848;opacity: 0.8;margin: 0;}
.payments{padding: 20px 15px 20px 30px;border-bottom: 1px solid #EBEBEB;}
.payments:last-child{border-bottom: none;}
.agency-selection ul{padding: 0;border: 1px solid #EBEBEB;border-radius: 4px;}
.home ul{border: none;}
.payments-div h3{margin-left: 0;}
.yes-div{text-align: center;top: 50%;position: relative;transform: translateY(-50%);}
.pay{padding: 4px 77px;background: #054C92;border: 1px solid rgba(5, 76, 146, 0.3);border-radius: 4px;text-align:center;color: white;margin-top: 20px;}
.utr{top: 50%;position: relative;transform: translateY(-50%);display: none;}
.sub-info::before{position: absolute;left: 0;height: 100%;width: 12px;background-image: url(../img/info_grey.svg);background-position: center;background-size: contain;background-repeat: no-repeat;content:''}
.register small ul{padding-left: 0;}
.register small{color: #484848;display: block;}
.register input, .register select{margin: 10px auto;}
.sele{margin-top: 30px;}
.register{text-align: center;}
.reg-button{padding: 3px 24px;margin-bottom: 15px;background: #054C92;border: 1px solid rgba(5, 76, 146, 0.3);color: white;margin-top: 50px;border-radius: 4px;}
.log-reg{font-size: 13px;line-height: 18px;align-items: center;text-align: center;text-decoration-line: underline;color: #076BCB;display: inline-block;}
.mismatched{font-weight: 600;font-size: 10px;line-height: 14px;color: #D01B1B;opacity: 0.8;}
.dir-app::before{position: absolute;background-image: url(../img/tick_green.svg);height: 100%;width: 20px;content: '';background-repeat: no-repeat;background-position: center;left: 0;top: 50%;transform: translateY(-50%);}
.dir-app{display: block;padding-left: 25px;}
.dir-status{padding: 5px 77px;background-color: #054c92;color: white;text-transform: capitalize;margin-top: 20px;border: none;border-radius: 4px;}
h5 small{color: red;font-size: 12px;}
#id_panchayat{padding-left: 0;}
.sel-rtgs, .pay, .account-status{background-color: #054c92;color: white;border: none;padding: 5px 10px;width: auto;opacity: 1;display: inline-block;}
.account-status{background-color: #054c92;color: white;border: none;padding: 5px 10px;opacity: 1;width: 210px;max-width: 100%;margin-top: 20px;}
.banking{margin-top: 20px;}
#id_UTR_no{padding:8px 10px; width: 100%; }
.messages{position: fixed;bottom: 0;top: auto;left: 0;}
.sm{display: block;margin-top: 10px;}
.utr small{font-size: 12px;color: #484848;margin-bottom: 10px;display: block;}
#id_remark{margin-top: 20px;}
.lins{text-align: center;color: #484848;display: inline-block;font-size: 15px;}
a{text-align: center;text-decoration: none;cursor: pointer;}
a:hover{color: #000000;text-decoration: none;cursor: pointer;}
.login-button:hover{color: white;}
.dash{display: inline-block;text-align: left;}