{% extends '../base.html' %}
{% block content %}
    <div class="container">
        <div class="outer payments-div">
            <h3 class="selection">स्टेज वन पेमेंट</h3>
            <div class="agency-selection">
                <ul class="ul">
                    <li class="payments"> 
                        <div class="row">
                            <div class="col-md-8">
                                <div class="info">
                                    <p class="count">₹ 7788.00 + ₹ 1188<small>18% GST</small> = 8976.00</p>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <p>खाली इनपुट फील्डमध्ये आपली आरटीजीएस संख्या प्रविष्ट करा</p>
                                <form method="POST">
                                    {% csrf_token %}
                                    {{pay1.utrno}}
                                    <button type="submit" class="sel-rtgs pay">Submit</button>
                                </form>
                            </div>
                        </div>
                        {% comment %} <a href="{% url 'portal:pays' %}" type="button" class="btn btn-primary">Submit</a> {% endcomment %}
                    </li>
                </ul>
            </div>
        </div>
    </div>
{% endblock content %}