<!doctype html>
<html lang="en">
  <head>
    {% load static %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% block css %}{% endblock css %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>{% block title %}{% endblock %}</title>
  </head>
  <body>
      <header>
        <div class="container">
            <h1>
                <a href="{% url 'portal:home' %}">
                    <img class="img-fluid" src="{% static 'img/logo.png' %}" alt="head-logo">
                </a>
            </h1>
            <p class="head">Government of Maharashtra</p>
            {% if request.user.is_authenticated %}
              <div class="name-log">
                <p class="user-name">MR. {{ request.user }}</p>
                <a href="{% url 'logout' %}">Logout</a>
              </div>
            {% endif %}
        </div>
    </header>
    <div id="content">
        {% block content %}{% endblock %}
    </div>
    <footer>
    </footer>
   {% block javascript %}
   {% endblock javascript %}
  </body>
</html>