{% extends './base.html' %}
{% block title %}Dashboard | Government of Maharashtra{% endblock title %}
{% block content %}
    {% load static %}
    <div class="container">
        <div class="outer">
            <h2>आम्ही आपले स्वागत करतो.</h2>
            {% if request.user.is_gp %}
              <h3 class="selection">आपली एजन्सी निवडा</h3>
              <div class="agency-selection home"> 
                  <ul class="ul">
                      <li class="lists">
                          <a data-toggle="modal" data-target="#gov_agency">
                              <h5>सरकारी नियुक्ती एजन्सी</h5>
                              <p class="pos-rel">जर नेमणूक केली असेल तर आपणास शासकीय नियुक्त एजन्सीसमवेत जावे लागेल, एकदा खात्री झाल्यावर निवड पूर्ववत केली जाऊ शकत नाही. </p>
                          </a>
                      </li>
                      <li class="lists">
                          <a data-toggle="modal" data-target="#local_agency">
                              <h5>इतर एजन्सी</h5>
                              <p class="pos-rel">जर नेमणूक केली असेल तर आपण स्थानिक किंवा सार्वजनिक प्रशिक्षण संस्थांसह जाण्याचे निवडत आहात.</p>
                          </a>
                      </li>
                      <li class="lists">
                          <a data-toggle="modal" data-target="#audit">
                              <h5>आपण आधीपासूनच आयएसओ प्रमाणित आहात</h5>
                              <p class="pos-rel">होय असल्यास, यावर क्लिक करा आणि सबमिट करा, आपले ऑडिट करण्यासाठी आपल्याला पुनर्निर्देशित केले जाईल.</p>
                          </a>
                      </li>
                  </ul>
              </div>
            {% elif request.user.is_s2%}
              <h4>Click on below link.</h4>
              <a class="dash" href="{% url 'portal:s2dashboard' %}">Dashboard</a>
            {% elif request.user.is_observar %}
              <h4>Click on below link.</h4>
              <a class="dash" href="{% url 'portal:observar' %}">Dashboard</a>
              {% elif request.user.is_ceo %}
              <h4>Click on below link.</h4>
              <a class="dash" href="{% url 'portal:ceodashboard' %}">Dashboard</a>
            {% endif %}
        </div>
    </div>

<!-- Goverment Agency Modal -->
<div class="modal fade" id="gov_agency" tabindex="-1" role="dialog" aria-labelledby="gov_agencyLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="gov_agencyLabel">You Appointed</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h4>सरकारी एजन्सी</h4>
        <div class="des pos-rel">
           आपण सरकारी नियुक्त एजन्सीसमवेत जात आहात, एकदा खात्री झाल्यावर निवड पूर्ववत केली जाऊ शकत नाही.. 
        </div>
      </div>
      <div class="modal-footer">
        <form method="POST">
          {% csrf_token %}
          <div class="choose">
            {{ gov_choose.choose_goverment }}
            <span>{{ gov_choose.choose_goverment.label }}</span>
          </div>
          <button type="submit" name="goverment" id="goverment"class="btn btn-primary">Confirm</button>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- Local Modal -->
<div class="modal fade" id="local_agency" tabindex="-1" role="dialog" aria-labelledby="local_agencyLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="local_agencyLabel">You Appointed</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h4>इतर एजन्सी</h4>
        <div class="des pos-rel">
            आपण स्थानिक एजन्सीसमवेत जात आहात.
        </div>
      </div>
      <div class="modal-footer">
      <form method="POST">
          {% csrf_token %}
          <div class="choose">
            {{ pub_form.choose_local }}
            <span>{{ pub_form.choose_local.label }}</span>
          </div>
          <button type="submit" name="public" id="public" class="btn btn-primary">Confirm</button>
        </form>
          </div>
    </div>
  </div>
</div>
<!-- ALready Certified Modal -->
<div class="modal fade" id="audit" tabindex="-1" role="dialog" aria-labelledby="auditLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="local_agencyLabel">आपण नियुक्त</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h4>इतर एजन्सी</h4>
        <div class="des pos-rel">
           सबमिट करून आपण म्हणत आहात की आपल्याकडे आयएसओ प्रमाणित आहे.
        </div>
      </div>
      <div class="modal-footer">
      <form method="POST">
          {% csrf_token %}
          <div class="choose">
            {{ certified.already_certified }}{{ certified.already_certified.label }}
            <span></span>
          </div>
          <button type="submit" name="certified" id="certified"class="btn btn-primary">Confirm</button>
          {% comment %} <a type="submit" name="public" id="public" href="{% url 'portal:servilance' %}" class="btn btn-primary">Confirm</a> {% endcomment %}
        </form>
          </div>
    </div>
  </div>
</div>
{% endblock content %}
{% block javascript %}
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js" integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF" crossorigin="anonymous"></script>
    <script src="{% static 'js/main.js' %}"></script>

{% endblock  %}

