{% extends '../base.html' %}
{% block content %}
    <div class="container">
            <h3 class="selection">Selected</h3>
            <div class="agency-selection home"> 
                <ul class="ul">
                <li class="lists">
                    <a>
                    <h5>Other Agency <small>Choosed</small></h5>
                    <p class="pos-rel">You have choosed Other Agency to do training. below are the rule and conditions.</p>
                    </a>
                </li>
                </ul>
                {% if get_approved %}
               
                {% endif %}
           {% if get_agency %}
              <h3> Your form is submited and sent to CEO to Approve and its pending</h3>
            {% elif get_approved %}
             <h3> Your form is submited and sent to CEO to Approved.</h3>
             {% else %}
               <div class="error">
                {% for message in messages %}
                    {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                        <div class="alert alert-danger alert-dismissible fade show" role="alert">
                            {{ message }}
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
            {% if form.errors %}
                {% for field in form %}
                    {% for error in field.errors %}
                        <div class="alert alert-danger">
                            <strong>{{ error|escape }}</strong>
                        </div>
                    {% endfor %}
                {% endfor %}
                {% for error in form.non_field_errors %}
                    <div class="alert alert-danger">
                        <strong>{{ error|escape }}</strong>
                    </div>
                {% endfor %}
            {% endif %}
              <form method="POST" enctype='multipart/form-data'>
                {% csrf_token %}
              {{private_form.as_p}}
           
              <button type="submit" class="btn btn-primary">Submit</button>
        </form>
        {% endif %}
        </div>
         </div>
{% endblock content %}