{% extends '../base.html' %}
{% block content %}
{% load static %}
    <div class="container">
      <div class="error">
        {% for message in messages %}
            {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    {{ message }}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            {% endif %}
        {% endfor %}
    </div>
    {% if form.errors %}
        {% for field in form %}
            {% for error in field.errors %}
                <div class="alert alert-danger">
                    <strong>{{ error|escape }}</strong>
                </div>
            {% endfor %}
        {% endfor %}
        {% for error in form.non_field_errors %}
            <div class="alert alert-danger">
                <strong>{{ error|escape }}</strong>
            </div>
        {% endfor %}
    {% endif %}
        <div class="outer payments-div">
        <h3 class="selection">पैसे भरले</h3>
        <h3 class="selection">  Payment Approval Status From S2 Infotech International Limited</h3>
        <img class="img-fluid" src="{% static '/img/green_circle_tick.png' %}">
        <a type="button" class="btn btn-light" href="{% url 'portal:index' %}">Go to dashboard</a>
        </div>
    </div>
{% endblock content %}