{% extends '../base.html' %}
{% block content %}
{% load static %}
    <div class="container">
      <div class="error">
        {% for message in messages %}
            {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    {{ message }}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            {% endif %}
        {% endfor %}
    </div>
    {% if form.errors %}
        {% for field in form %}
            {% for error in field.errors %}
                <div class="alert alert-danger">
                    <strong>{{ error|escape }}</strong>
                </div>
            {% endfor %}
        {% endfor %}
        {% for error in form.non_field_errors %}
            <div class="alert alert-danger">
                <strong>{{ error|escape }}</strong>
            </div>
        {% endfor %}
    {% endif %}
        <div class="outer payments-div">
            <h3 class="selection">स्टेज पेमेंट change</h3>
            <div class="agency-selection">
                <ul class="ul">
                    <li class="payments"> 
                        <div class="row">
                            <div class="col-md-8">
                                <div class="info">
                                    <p class="count">₹ 7788.00 + ₹ 1188<small>18% GST</small> = 8976.00</p>
                                </div>
                                <p>Remark</p>
                                <p class="mismatched">{{paymiss.remark}}.</p>
                            </div>
                            <div class="col-md-4">
                                <p>खाली इनपुट फील्डमध्ये आपली आरटीजीएस संख्या प्रविष्ट करा</p>
                                <form method="POST">
                                    {% csrf_token %}
                                    {{utrform.utr}}
                                    <button type="submit" class="sel-rtgs pay"  disabled="disabled">Submit</button>
                                </form>
                            </div>
                        </div>
                        {% comment %} <a href="{% url 'portal:pays' %}" type="button" class="btn btn-primary">Submit</a> {% endcomment %}
                    </li>
                </ul>
            </div>
        </div>
    </div>
{% endblock content %}
{% block javascript %}
    <script src="{% static 'js/jquery.min.js' %}"></script>    
    <script src="{% static 'js/main.js' %}"></script>

{% endblock javascript %}